.wrapper {
    .row_1 {
        display: flex;
        height: 312px;
        .col_1 {
            position: relative;
            .main_photo {
                height: 312px;
                width: 540px;
            }
            .percentage_circle {
                position: absolute;
                top: 66px;
                left: 180px;
            }
        }
        .col_2 {
            width: calc(100% - 540px);
            background: #2E2E2E;
            text-align: center;
        }
    }
    .row_2 {
        display: flex;
        padding: 24px 0;
        place-content: center;
        .hexagon_button {
            cursor: pointer;
            margin: 0 50px;
            position: relative;
            cursor: pointer;
            .hexagon {
                width: 136px;
                height: 136px;
                background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            }
            .button_icon {
                position: absolute;
                height: 56px;
                width: 56px;
                top: 28px;
                left: 40px;
            }
            .button_title {
                font-size: 20px;
                line-height: 24px;
                position: absolute;
                color: white;
                top: 84px;
                width: 78px;
                left: 29px;
                text-align: center;
            }
        }
    }
    .row_3 {
        text-align: center;
        .meal_history_wrapper {
            .day_history {
                display: flex;
                place-content: center;
                .meal_history {
                    position: relative;
                    margin: 5px;
                    .meal_image {
                        height: 234px;
                        width: 234px;
                        object-fit: cover;
                    }
                    .meal_title {
                        position: absolute;
                        color: #FFFFFF;
                        bottom: 0;
                        width: 120px;
                        height: 32px;
                        background: #FFCC21;
                        line-height: 32px;
                        padding-left: 8px;
                        font-size: 15px;
                        text-align: left;
                    }
                }
            }
        }
        .button_load_more {
            margin: 25px 0 60px;
            width: 296px;
            height: 56px;
            background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
            outline: none;
            border: none;
            border-radius: 5px;
            font-family: "__notoFont_4b531e";
            font-size: 18px;
            font-weight: 300;
            color: #FFFFFF;
        }
    }
}